html
    head
        title OAuth Google
    <style type="text/css">
        include ../css/style.css
    </style>

    body
      nav
        ul
          li
            a(href='/') Homepage
      header
        h2 You have logged out.