html
    head
        title OAuth Google
    <style type="text/css">
        include ../css/style.css
    </style>

    body
      nav
        ul
          li
            a(href='/') Homepage
          li
            a(href='/auth/logout') Log out
      header
        h2 You have successfully logged in.